<template>
    <v-app-bar app color="white" elevate-on-scroll>
      <img height="60" src="../../../src/assets/logo.png"/>
      <v-spacer></v-spacer>
      <v-avatar>
        <img
          src="../../../src/assets/avatar.png"
          alt="user-profile"
        />
      </v-avatar>
    </v-app-bar>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Header',
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['user']),
  },
  methods: {},
};
</script>
