<template>
  <v-app >
  <div class="ml-4">
    <Header/>
  </div>
    <v-main class="blue-grey lighten-5">
      <v-container
        fluid
        :class="['overflow-y-auto', {'pa-11': !this.$vuetify.breakpoint.xs }]"
      >
        <v-fade-transition>
          <router-view ></router-view>
        </v-fade-transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Header from '@/components/layout/Header'
export default {
  name: 'Main',
  components: {Header},
  data: () => ({
    //
  }),
  computed: {
    user() {
      return this.$store.getters.user
    }
  },
  watch: {
  },
  mounted(){
  
  },
  methods: {
  
  }
};
</script>
