<template>
  <div>
    <slot></slot>
    <ag-grid-vue
      class="ag-theme-material w-100 my-4 ag-grid-table"
      :rowModelType="'infinite'"
      :cacheBlockSize="cacheBlockSize"
      :rowBuffer="rowBuffer"
      :enableCellTextSelection="true"
      :ensureDomOrder="true"
      rowSelection="multiple"
      :columnDefs="columns"
      :defaultColDef="defaultColDef"
      :animateRows="true"
      :paginationPageSize="servicePageSize"
      :overlayLoadingTemplate="overlayLoadingTemplate"
      @gridReady="onGridReady"
    />
  </div>
</template>

<script>
import './scss/agGridStyleOverride.scss';
import { AgGridVue } from 'ag-grid-vue';

const identity = (v) => v;

const PAGE_SIZE = 50;

export default {
  name: 'v-data-table',

  components: {
    AgGridVue,
  },

  props: {
    config: {
      type: Object,
      required: true,
    },
  },

  data: () => ({
    gridApi: null,
    columns: null,

    defaultColDef: {
      resizable: true,
    },

    overlayLoadingTemplate:
      '<span class="ag-overlay-loading-center"> Carregando... </span>',

  
    cacheBlockSize: PAGE_SIZE,

    rowBuffer: 0,
    servicePageSize: PAGE_SIZE,
    serviceFn: null,
    serviceParams: {},
    paramsStart: {},
    serviceMapperFn: null,
    paramsCsv: null,
    debounce: null,
    limited: false,
  }),

  created() {
    this.initProps();
  },

  computed: {
    user() {
      return this.$store.getters.user;
    },
    currentCompany() {
      return this.$store.getters.currentCompany;
    },
  },

  methods: {
    initProps() {
      const {
        servicePageSize,
        columns,
        serviceFn,
        serviceParams,
        serviceMapperFn,
        paramsCsv,
      } = this.config;

      if (!columns || !serviceFn) {
        throw new Error(
          '[Table] Props "columns" and "serviceFn" from config are required!'
        );
      }


      this.columns = columns;
      this.serviceFn = serviceFn;
      this.servicePageSize = servicePageSize || PAGE_SIZE;
      this.cacheBlockSize = servicePageSize || PAGE_SIZE;
      this.serviceParams = serviceParams || {};
      this.serviceParams.company_id = this.currentCompany.id;
      this.serviceMapperFn = serviceMapperFn || identity;
      this.paramsCsv = paramsCsv || {};
    },

    setServiceParams(key, value) {
      this.gridApi.showLoadingOverlay();
      this.serviceParams[key] = value;
      if (!this.serviceParams[key]) {
        delete this.serviceParams[key];
      }
      this.debounceSearch();
    },

    onGridReady({ api }) {
      this.gridApi = api;
      this.gridApi.setDatasource(this.createDataSource());
     
    },

    createDataSource() {
      this.gridApi.showLoadingOverlay();

      return {
        getRows: ({ endRow, successCallback }) => {
          const config = {
            params: {
              page: endRow / this.servicePageSize,
              perPage: this.servicePageSize,
              ...this.serviceParams,
            },
          };
          if (this.serviceFn) {
            this.serviceFn(config)
              .getPage()
              .then((res) => {
                const { data, pagination } = res.data;
                this.gridApi.hideOverlay();
                successCallback(this.serviceMapperFn(data), pagination.total);
              });
          } else {
            this.gridApi.hideOverlay();
          }
        },
      };
    },


    debounceSearch() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.gridApi.setDatasource(this.createDataSource());
      }, 900);
    },


    exportCsv() {
      this.gridApi.exportDataAsCsv(this.paramsCsv);
    },
  }
};
</script>
