<template>
  <div>
    <v-tooltip right>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          @click="dialog = true"
          v-bind="attrs"
          v-on="on"
          icon
          color="grey"
        >
          <v-icon>mdi-arrow-expand</v-icon>
        </v-btn>
      </template>
       Mais detalhes
    </v-tooltip>

    <v-dialog
      v-model="dialog"
      v-if="dataUser"
      content-class="elevation-0"
      persistent
      max-width="750"
    >
      <div v-if="dialog">
        <div class="container-avatar">
          <v-avatar size="130" color="white" class="avatar-user">
            <img class="pa-2" :src="dataUser.picture.large" alt="John" />
          </v-avatar>
        </div>

        <v-card>
          <div style="height: 45px" class="text-end">
            <v-btn @click="closeDialog" icon color="grey">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>
          <v-card-title class="justify-center text-h5">
            {{ dataUser.name.first }} {{ dataUser.name.last }}
          </v-card-title>
          <v-card-text>
            <v-stepper v-model="step">
              <v-stepper-items class="grey--text text--darken-1">
                <v-stepper-content step="1">
                  <user-list-actions-details
                    @setStep="setStep"
                    :dataUser="dataUser"
                  />
                </v-stepper-content>
                <v-stepper-content step="3">
                  <user-list-actions-delete
                    @close="closeDialog"
                    @setStep="setStep"
                    :dataUser="dataUser"
                  />
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import UserListActionsDetails from './UserListActionsDetails';
import UserListActionsDelete from './UserListActionsDelete';
export default {
  name: 'actions-user',
  components: {
    UserListActionsDetails,
    UserListActionsDelete,
  },
  data: () => ({
    step: 1,
    dialog: false,
    dataUser: null,
  }),
  created() {
    try {
      this.dataUser = this.params.data;
    } catch (e) {
      this.dataUser = false;
    }
  },
  methods: {
    setStep(val) {
      this.step = val;
    },
    closeDialog() {
      this.dialog = false;
      setTimeout(() => {
        this.step = 1;
      }, 500);
    },
  },
};
</script>

<style lang="scss" scoped>
div.vDialog {
  box-shadow: none;
}

.avatar-user {
  position: relative;
  z-index: 500;
}

.container-avatar {
  height: 65px;
  display: flex;
  justify-content: center;
}
</style>
