<template>
  <div>
    <div class="text-center">
      <v-btn class="mx-2" fab dark small color="primary">
        <v-icon dark> mdi-pencil </v-icon>
      </v-btn>

      <v-btn @click="$emit('setStep', 3)" class="mx-2" fab dark small color="red">
        <v-icon dark> mdi-delete </v-icon>
      </v-btn>
    </div>
    <v-row class="mt-4 justify-content-center">
      <v-col cols="12" sm="4">
        <div class="subtitle font-weight-bold">E-mail:</div>
        <div>{{ dataUser.email }}</div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="subtitle font-weight-bold">Genero:</div>
        <div>{{ dataUser.gender === 'female' ? 'Femenino' : 'Masculino' }}</div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="subtitle font-weight-bold">Dt. Nascimento:</div>
        <div>{{this.dateFormatter(dataUser.dob.date, 'dd/mm/yyyy'),}}</div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="subtitle font-weight-bold">Telefone:</div>
        <div>{{ dataUser.phone }}</div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="subtitle font-weight-bold">Nacionalidade:</div>
        <div>{{ dataUser.nat }}</div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="subtitle font-weight-bold">Id:</div>
        <div>54165468</div>
      </v-col>
      <v-col cols="12">
        <div class="subtitle font-weight-bold">Endereço:</div>
        <div>
          {{ dataUser.location.street.name }}, nº
          {{ dataUser.location.street.number }}
        </div>
        <div>
          {{ dataUser.location.city }}, {{ dataUser.location.state }} -
          {{ dataUser.location.country }}
        </div>
        <div>59141-455</div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'user-list-actions-details',
  props: {
    dataUser: {
      type: Object,
      default: () => {},
    },
  },
  data: () => ({
    dialog: false,
    dataUser: null,
  })
};
</script>
