<template>
  <div>
    <v-card class="mx-auto pa-5" width="100%">
      <v-card-text>
        <v-row class="m-0">
          <v-col cols="12" sm="8">
            <span>Buscar</span>
            <v-text-field
              @input="filter('search')"
              v-model="consult.search"
              placeholder="Digite nome ou nacionalidade"
              outlined
              dense
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="4">
            <span>Gênero</span>
            <v-select
              v-model="consult.gender"
              @input="filter('gender')"
              :items="genders"
              placeholder="Selecione um gênero"
              dense
              outlined
            ></v-select>
          </v-col>
          <v-col cols="12">
            <v-data-table ref="usersTable" :config="dataTableConfig">
            </v-data-table>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import VDataTable from '@/components/data-table/VDataTable';
import Vue from 'vue';
import UserListActions from './UserListActions';
import { userService } from '@/service';
export default {
  components: {
    VDataTable,
  },
  data() {
    return {
      consult: {
        search: '',
        gender: ''
      },
      genders: [
        {
          text: 'Todos',
          value: '',
        },
        {
          text: 'Feminino',
          value: 'female',
        },
        {
          text: 'Masculino',
          value: 'male',
        },
      ],
      dataTableConfig: {
        servicePageSize: 50,
        serviceFn: userService.index,
        columns: [
          {
            headerName: 'Ações',
            headerClass: ['mx-auto'],
            cellRendererFramework: Vue.extend(UserListActions),
            width: 100,
            filter: false,
            sortable: false,
            cellClass: ['mx-auto'],
            pinned: 'left',
          },
          {
            headerName: 'Nome',
            width: 250,
            valueGetter: (params) => {
              if (params.data)
                return params.data.name.first + ' ' + params.data.name.last;
            },
          },
          {
            headerName: 'Gênero',
            field: 'gender',
            valueFormatter: (params) => {
              if (params.value === 'female') return 'Femenino';
              else return 'Masculino';
            },
          },
          {
            headerName: 'Dt. Nascimento',
            field: 'dob.date',
            width: 200,
            valueFormatter: (params) =>
              this.dateFormatter(params.value, 'dd/mm/yyyy'),
          },
          {
            headerName: 'E-mail',
            field: 'email',
          },
          {
            headerName: 'Telefone',
            field: 'phone',
          },
          {
            headerName: 'Celular',
            field: 'cell',
          },
          {
            headerName: 'Nacionalidade',
            field: 'nat',
          },
        ],
      },
    };
  },
  mounted() {},
  methods: {
    filter(key) {
      this.$refs.usersTable.setServiceParams(key, this.consult[key]);
    },
  },
};
</script>
