<template>
  <div>
    <v-row class="justify-content-center">
      <v-col class="text-center" cols="12">
        <div class="mb-1">
          Digite "Excluir permanentemente" para excluir o usuário
          <strong> {{ dataUser.name.first }} {{ dataUser.name.last }} </strong>.
        </div>
        <v-text-field
          v-model="messageConfirm"
          placeholder="Excluir permanentemente"
          outlined
          dense
        ></v-text-field>
      </v-col>

      <v-col cols="12">
        <div class="d-flex justify-space-between">
          <v-btn @click="back" dark small color="red">
            <v-icon dark> mdi-arrow-left</v-icon>
            voltar
          </v-btn>
          <v-btn :disabled="validDelete" @click="submitAction" small color="primary">
            Excluir
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'user-list-actions-delete',
  props: {
    dataUser: {
      type: Object,
      default: () => {},
    },
  },
  data: () => ({
    messageConfirm: '',
  }),
  computed: {
    validDelete() {
      if (this.messageConfirm != 'Excluir permanentemente') return true;
      else return false;
    },
  },
  methods: {
    back() {
      this.messageConfirm = ''
      this.$emit('setStep', 1)
    },
    submitAction() {
      this.$store.dispatch('destroyUser', this.dataUser.id).then(() => {
        this.$emit('close')
        this.$toast.open({
          message: 'Usuário excluido com sucesso',
          type: 'success'
        });
      })
    }
  }
};
</script>
